<header class="header">
        <nav class="navbar">
            <a href="<%= root_path %>" class="nav-logo">
              <img src="<%= asset_path 'parliament-logo.png' %>" alt="Logo">
            </a>
            <ul class="nav-menu">
                <li class="nav-item">
                    <%= link_to "Search for My MP", search_path, class: "nav-link" %>
                </li>
                <li class="nav-item">
                    <%= link_to "List of Members", members_path, class: "nav-link"  %>

                </li>
                <li class="nav-item">
                    <%= link_to "Sign Up", users_new_path, class: "nav-link"  %>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">Most Absent MP's</a>
                </li>
            </ul>
            <div class="hamburger">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </div>
        </nav>
</header>
